<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title>Game of war</title>
    <style type="text/css">
    * {
      margin: 0; padding: 0;
    }
    #canvas {
      display: block;
      background: #c7c7e4;
    }
    #war-field {
        width: 50%;
        float: left;
        overflow: scroll;
    }
    #instruction-code {
        width: 50%;
        float: left;
        overflow: scroll;
    }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>

    <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript" src="soldier.js"></script>
    <script type="text/javascript" src="robot.js"></script>
    <script type="text/javascript" src="player.js"></script>
    <script type="text/javascript" src="angular/gameController.js"></script>
</head>

<body ng-app="gameApp">
    <div ng-controller="gameController" ng-init="init()">
        <div id="war-field">
            <button id="but-start" ng-click="startGame()">Start</button>
            <button id="but-stop" ng-click="stopGame()">Stop</button>
            <button id="but-reset" ng-click="resetGame()">Reset</button>
            <canvas id="canvas"></canvas>
        </div>
        <div id="instruction-code">
            <div>Program your soldiers:</div>
            <button id="but-apply-code" ng-click="applyCode()">Apply your code</button>
            <br>
            <textarea id="code-area" rows="50" cols="100" ng-model="userCode">
            </textarea>
        </div>
    </div>
</body>
</html>