<div class="panel panel-default">
  <div class="panel-body">
    <div *ngIf="gameRunning" class="alert alert-info font-bold" role="alert">
        战斗中...
    </div>
    <div *ngIf="!gameRunning">
        <div *ngIf="youWin==null" class="alert alert-info font-bold" role="alert">
            准备战斗
        </div>
        <div *ngIf="youWin==true" class="alert alert-success font-bold" role="alert">
            你赢了！
        </div>
        <div *ngIf="youWin==false" class="alert alert-danger font-bold" role="alert">
            你输了！
        </div>
    </div>

    <table>
        <tr *ngFor="let n of [] | range:COLOR_NUM; let first = first;">
            <td class="font-bold" [style.color]="COLOR_LIST[n]">
                <font *ngIf="first">你方</font>
                <font *ngIf="!first">电脑{{n}}</font>
            </td>
            <td>
                <div class="health-bar" data-total="1000" data-value="1000">
                  <div class="bar" [style.background]="COLOR_LIST[n]" [style.width.%]="dictSoldierNum[COLOR_LIST[n]]/SOLDIER_NUM_EACH*100"></div>
                </div>
            </td>
            <td>
                <font>{{dictSoldierNum[COLOR_LIST[n]]}} 人存活</font>
            </td>
        </tr>
    </table>

    <div id="timer">
        <font *ngIf="GAME_TOTAL_TIME>0">限时{{GAME_TOTAL_TIME}}秒：</font>
        <font *ngIf="GAME_TOTAL_TIME<=0">计时：</font>
        {{timeElapsed|toHHMMSS}}
    </div>

    <div>
        <button type="button" class="btn btn-primary" aria-haspopup="true" aria-expanded="false" (click)="startGame()">
            开始
        </button>
        <button type="button" class="btn btn-danger" aria-haspopup="true" aria-expanded="false" (click)="stopGame()">
            暂停
        </button>
        <button type="button" class="btn btn-warning" aria-haspopup="true" aria-expanded="false" (click)="resetGame()">
            重置
        </button>
        <button type="button" class="btn btn-default" aria-haspopup="true" aria-expanded="false" (click)="prepare()">
            重新备战
        </button>
    </div>

    <div id="war-field">
        <canvas id="canvas" #canvasGame></canvas>
    </div>
  </div>
</div>
