<div class="panel panel-default">
  <div class="panel-body">
    <div *ngIf="gameRunning" class="alert alert-info font-bold" role="alert">
        Fighting...
    </div>
    <div *ngIf="!gameRunning">
        <div *ngIf="youWin==null" class="alert alert-info font-bold" role="alert">
            Ready to fight
        </div>
        <div *ngIf="youWin==true" class="alert alert-success font-bold" role="alert">
            You win！
        </div>
        <div *ngIf="youWin==false" class="alert alert-danger font-bold" role="alert">
            You lose！
        </div>
    </div>

    <table>
        <tr *ngFor="let n of [] | range:COLOR_NUM; let first = first;">
            <td class="font-bold" [style.color]="COLOR_LIST[n]">
                <font *ngIf="first">You</font>
                <font *ngIf="!first">Robot{{n}}</font>
            </td>
            <td>
                <div class="health-bar" data-total="1000" data-value="1000">
                  <div class="bar" [style.background]="COLOR_LIST[n]" [style.width.%]="dictSoldierNum[COLOR_LIST[n]]/SOLDIER_NUM_EACH*100"></div>
                </div>
            </td>
            <td>
                <font>{{dictSoldierNum[COLOR_LIST[n]]}} soldiers alive</font>
            </td>
        </tr>
    </table>

    <div id="timer">
        <font *ngIf="GAME_TOTAL_TIME>0">Time limit {{GAME_TOTAL_TIME}} seconds：</font>
        <font *ngIf="GAME_TOTAL_TIME<=0">Time elapsed：</font>
        {{timeElapsed|toHHMMSS}}
    </div>

    <div>
        <button type="button" class="btn btn-primary" aria-haspopup="true" aria-expanded="false" (click)="startGame()">
            Start
        </button>
        <button type="button" class="btn btn-danger" aria-haspopup="true" aria-expanded="false" (click)="stopGame()">
            Pause
        </button>
        <button type="button" class="btn btn-warning" aria-haspopup="true" aria-expanded="false" (click)="resetGame()">
            Reset
        </button>
        <button type="button" class="btn btn-default" aria-haspopup="true" aria-expanded="false" (click)="prepare()">
            Re-Prepare
        </button>
    </div>

    <div id="war-field">
        <canvas id="canvas" #canvasGame></canvas>
    </div>
  </div>
</div>
