<div id="dashboard">
    <dashboard-preparing
    [hidden]="view!=View.PREPARING"
    [playerCode]="playerCode"
    (onTrain)="onCodeApplied($event)"
    (onFight)="onCodeApplied($event)"
    ></dashboard-preparing>

    <dashboard-coding 
    [hidden]="view!=View.CODING" 
    [playerCode]="playerCode" 
    (onCodeApplied)="onCodeApplied($event)"
    (onCancel)="onCancelCodeEdit($event)"
    ></dashboard-coding>

    <battle-field
    [hidden]="view!=View.FIGHTING"
    [playerCode]="playerCode"
    (onCodeEdit)="onCodeEdit($event)"
    ></battle-field>

</div>