<div class="panel panel-default">
  <div class="panel-heading">
    Game of War
  </div>
  <div class="panel-body">
    <table>
        <tr class="spaceUnder">
            <td class="col-md-2">Your strategy</td>
            <td>
                <button type="button" class="btn btn-info" aria-haspopup="true" aria-expanded="false" (click)="editCode()">
                    Edit code
                </button>
            </td>
        </tr>
        <tr class="spaceUnder">
            <td class="col-md-2">Choose your enemy</td>
            <td>
                <select class="selectpicker">
                  <option>Robot</option>
                </select>
            </td>
        </tr>
        <tr class="spaceUnder">
            <td class="col-md-2" colspan="2">
                <!-- <button type="button" class="btn btn-primary" aria-haspopup="true" aria-expanded="false" (click)="train()">Test</button> -->
                <button type="button" class="btn btn-primary" aria-haspopup="true" aria-expanded="false" (click)="fight()">Fight</button>
            </td>
        </tr>
    </table>
  </div>
</div>
